{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h1>Buy Stock</h1>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="stock's symbol" type="text">
        </div>
        <div class="mb-3">
            <input autofocus autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Number of shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
